<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

{{$wisdom := .}}
<h1>The meaning of life: {{$wisdom}}</h1>
{{$wisdom2 := $wisdom}}
<h1>The meaning of life: {{$wisdom2}}</h1>
</body>
</html>